<html>
<h1><%= @user.username.titleize%>'s Camera Vault</h1><br>

<h4>Cameras</h4><br>
<ul>
   <% @cameras.each do |camera|%>
    <li><a href="/cameras/<%=camera.id%>"><%=camera.brand.capitalize%>-<%=camera.model.capitalize%>  </a></li><br>
    <%end %>
</ul> 

  <h6><a href="<%=@user.photos%>"> <%=@user.username.capitalize%>'s Photos</a></h6>
  <h6><a href="/cameras/new">Add Camera</a></h6>
<h6><a href="/users/<%=@user.id%>/edit "> Edit Profile</a></h6> 
</html>

<form action="/users/<%=@user.id%> /delete" method="POST">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value= "Delete Account">
</form>