<form action="/cameras/<%= @camera.id %>/edit" method="post" >
	 
    <input  type="hidden" name="_method" value="patch"/>

	<h2>CAMERA</h2> <br>

    <label> Brand <%=@camera.brand.capitalize%>  </label>
	<input type="text" name="camera[brand]" value="<%=@camera.brand%> "> 

    <input type="submit" value="Update" /><br>
    </form>
    
    <form action="/cameras/<%=@camera.id %>/edit" method="post" >
	 
    <input  type="hidden" name="_method" value="patch"/>

    <label> Model <%=@camera.model.capitalize%> </label>
    <input type="text" name="camera[model]" value="<%=@camera.model%>"> 
    <input type="submit"  value="Update" /> 
    
</form>

<h6><a href="/users/<%=@user.id%>">Return To My Cameras</a></h6>
 

