
<h2><%= @camera.brand.capitalize%> - <%= @camera.model.capitalize%></h2>
<form action="/cameras/<%=@camera.id%>" method="POST">
<label>Info about camera use optional</label><br>
<textarea rows="12" cols="80" type="text"></textarea><br />
<input type="submit">
</form>


<a href="/cameras/<%=@camera.id%>/edit "> Update Camera</a><br><br>
<form action="/cameras/<%=@camera.id%> /delete" method="POST">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value= "Delete">
</form>